@font-face {
    font-family: 'Ballpark';
    font-style: normal;
    font-weight: 400;
    src: url('ballpark_weiner.ttf') format('truetype')
}   

@font-face {
    font-family: 'Dayrom';
    font-style: normal;
    font-weight: 400;
    src: url('DAYROM__.ttf') format('truetype')
}   

.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

#suur{width: 900px; margin: auto}

body{font-family: Dayrom; background-color: #181818;
    background: url(./images/yellow_background.png)}

body > div > header > img{width: 900px; height: 168.59px;
    border-image-outset: 900px}

body > div > header > div{width: 900px; height: 95px}

body > div > header > div > div{width: 900px; height: 95px}

body > div > header >div >div > h1 {
    font-family: Ballpark; 
    display: inline-block;
    font-size: 2.5em;
    margin-bottom: 0px}

body > div > header >div >div > h2 {
    margin-top: 0px;
    font-size: 1.1em;
    font-weight: normal}

body > div > header >div >div > div{
    display: inline-block;
    }

body > div > header > nav{width: 740px; height: 59px;
     text-align: right; display: inline-block}
    
body > div > header > nav > ul{width: 700px; height: 27px;
    margin: 1em 0em; padding-left: 40px}

body > div > header > nav > ul > li{
    display: inline-block; margin-right: 15px;
    text-align: right;
    }

body > div > header > nav > ul > li > a{
    text-decoration: black; 
    display: inline-block;
    padding-bottom: 3px;
    font-size: 1.3em;
    color: black;}

body > div > header > nav > ul > li > a:hover{
    color: brown; 
    text-decoration: underline;
    }




